@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}








    <div class="row">

        <div class="col-md-6 formarea">
            <form method="post">
                <div id="heading">
                    Create Room

                </div>
                <div class="form-group">
                    <label> User Name</label>
                    <input type="text" class="form-control" name="UserName" />

                </div>

                <button type="submit" class="btn btn-secondary">Create</button>
            </form>

        </div>

        <div class="col-md-6 formarea">
            <form method="post">
                <div id="heading">
                    Join Room

                </div>
                <div class="form-group ">
                    <label> User Name</label>
                    <input type="text" class="form-control" name="UserName" />
                </div>
                <div class="form-group ">
                    <label>Chatroom number</label>
                    <input type="text" class="form-control" name="RoomName" />
                </div>

                <button type="submit" class="btn btn-secondary">Join</button>
            </form>

        </div>



    </div>
